* {
    background-color: #000000;
}

h1 {
text-align: center;
color: #ffffff;
}

.cavalo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.texto {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: aqua;
    font-family: monospace;
    margin-bottom: 30px;
}
