body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.cavalo {
    width: 400px;
    height: 400px;
    background-image: url(cavalo.gif);
    background-size: cover;
    margin-top: 50;
    margin-bottom: 50;
}

.gian {
    background-color: rgb(78, 82, 121);
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cavalo, .gian {
    border: 5px solid rgb(60, 63, 94);
    opacity: 1;
    transition: ease-in 0.2s
}

a {
    color: white;
}

* {
    text-decoration: none;
}

.cavalo:hover, .gian:hover {
    transform: scale(1.1);
    transition: ease-out 0.1s;
    cursor: pointer;
}